@value colors: "./constants/colors.css";
@value constants: "./constants/headerConstants.css";
@value xo-White, xo-Offwhite, xo-Black, xo-Blue, xo-Red from colors;
@value boxWidth, boxHeight, borderSize, pathWidth, pathHeight, pathBorderLeft, pathLeft from constants;

.text {
    position: relative;
    top: 25%;
    color: xo-Offwhite;
    text-decoration: none;
}

.buttonFace {
    background-color: xo-Black;
    width: boxWidth;
    height: boxHeight;
    position: relative;
    margin: 0px borderSize 0px borderSize;
    font-family: 'Rubik';
    display: inline-block;
    text-decoration: none;
}

/*
 * before: Color
 * after: Black triangle
*/

.buttonFace::before, .buttonFace::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}

.buttonFace::before {
    color: xo-Red;
    background-color: xo-Red;
    width: pathWidth;
    height: pathHeight;
    border-left: xo-Blue pathBorderLeft solid;
    border-bottom: transparent 0 solid;
    left: pathLeft;

    transition: top 0.5s ease,
                clip-path 0.3s linear;
    top: -20px;
    clip-path: polygon(40% 65%, 61% 65%, 61% 85%, 61% 95%, 50% 100%, 40% 95%, 40% 85%);
}

.buttonFace:hover::before {
    transition: top 0.1s ease,
                clip-path 0.25s linear;
    top: 0px;
    clip-path: polygon(89% 75%, 89% 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 85%);
}

.buttonFace::after {
    color: xo-Black;
    background-color: xo-Black;
    width: boxWidth;
    height: boxHeight;
    
    clip-path: polygon(50% 100%, 100% 83%, 100% 80%, 0 80%, 0 83%);

    transition: top 0.25s ease;
    top: 0px;
}

.buttonFace:hover::after {
    transition: top 0.1s ease;
    top: 8.5px;
}