@value colors: "./constants/colors.css";
@value xo-White, xo-Offwhite, xo-Black, xo-Blue, xo-Red from colors;
@value constants: "./constants/headerConstants.css";
@value borderSize from constants;

.header {
    position: relative;
    background-color: xo-Black;
    z-index: 0;
    border-top: xo-Red borderSize solid;
    border-bottom: xo-Blue borderSize solid;
    text-align: center;
    margin-bottom: 1rem;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    max-width: 650px;
}
.h1 {
    position: relative;
    margin: 0 0 0 0.8rem;
    top: 5px;
}
@media only screen and (max-width: 600px) {
    .h1 {
        margin: 0 0 0 0.5rem;
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
        width: 32px;
    }
}
.title {
    display: block;
    position: relative;
    color: xo-Offwhite;
    text-decoration: none;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
