@value colors: "./constants/colors.css";
@value xo-White, xo-Black, xo-Blue, xo-Red from colors;
@value constants: "./constants/headerConstants.css";
@value borderSize from constants;

.header {
    position: relative;
    justify-content: flex-start;
    background-color: xo-Black;
    z-index: 0;
    border-top: xo-Red borderSize solid;
    border-bottom: xo-Blue borderSize solid;
    text-align: center;
}
.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    display: flex;
    margin: 0 auto;
    max-width: 960px;
}
.h1 {
    margin: 0 3rem 0 1rem;
}
.title {
    display: block;
    position: relative;
    color: xo-White;
    text-decoration: none;
}
