@value colors: "./constants/colors.css";
@value xo-White, xo-Black, xo-Blue, xo-Red from colors;
@value constants: "./constants/headerConstants.css";
@value borderSize from constants;

.header {
    display: flex;
    position: relative;
    justify-content: flex-start;
    background-color: xo-Black;
    z-index: 0;
    border-top: xo-Red borderSize solid;
    border-bottom: xo-Blue borderSize solid;
    text-align: center;
}
.h1 {
    margin-bottom: 0;
    margin-left: 15%;
}
.title {
    display: block;
    position: relative;
    color: xo-White;
    text-decoration: none;
}